<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

{% if request.user.is_authenticated %}
    <p>Bienvenido, {{ request.user.username }}</p>
    <form id="logout-form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Salir</button>
                </form>

{% else %}
    <h2>Iniciar sesion</h2>

    {% if form.errors %}
        <p style="color: red;">Usuario o contrasena incorrectos.</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Entrar</button>
    </form>
{% endif %}

</body>
</html>
